html {
    scroll-behavior: smooth;
}

#contact {
    text-align: center;
    background-color: #343A40;
    color: white;
    padding: 20px;
}

.footer {
    margin: 2px 0px;
    padding: 10px;
    text-align: center;
    color: darkgoldenrod;
}

.footer a {
    padding: 15px 15px;
}

.footer a:hover {
    background-color: white;
    color: black;
    border-radius: 5%;
}

.btn {
    margin: 2px;
}